*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6,
section,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.header-nav__items {
    display: flex;
}

.header-nav__item:not(:last-child) {
    margin-right: 40px;
}

.btn {
    background-color: #4086d3;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 5px;
}